/* color scheme from https://colorhunt.co/ */
:root {
  --beige: #FCF5ED;
  --peach: #F4BF96;
  --pastel-red: #CE5A67;
  --black: #1F1717;
  --hover: #CE5A67;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-color: var(--beige);
  color: var(--black);
}

a:hover{
  color: var(--hover);
}
 
/* header styling */
header{
  display: flex;
  background-color: var(--peach);
  flex-direction: column;
  align-items: center;

}



/* nav styling */

h1{
  font-size: 2.25rem;
}


nav {
  display: flex;
}

nav > p{
  display: flex; 
}

p > a{
  
  text-decoration: none;
  color: var(--black);
  padding: 0.5em;
  display: inline-block;
}



.hero-banner{
  position: relative;
}
.hero-banner > img{
  display: block;
  width: 100%;
  height: 9rem;
  background-repeat: no-repeat;
  background-position: center;
}

h2{ /*https://www.bannerbear.com/blog/how-to-overlay-text-on-an-image-in-html-and-css/#:~:text=Overlaying%20Text%20on%20an%20Image%20in%20HTML%20and%20CSS,-HTML&text=In%20the%20body%20section%2C%20create,and%20add%20your%20text%20inside.&text=We%20know%20that%20in%20real,to%20contain%20an%20image%20only.*/
  position: absolute;
  background-color: var(--beige);
  right: 0;
  bottom: 0;
  font-size: 1.7rem;
}




/* about secion styling*/
h3{
  color: var(--pastel-red);
  font-size: 1.7rem;
  margin: 0 auto;
  padding: 1rem;
}

#about{
  display: flex;
  flex-direction: column;
 
}

img{
  flex-shrink: 0;
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
}
#about > h3{
  flex-shrink: 0;
}

#aboutDetail{
  flex-shrink: 1;
  padding: 0 2.5em;

}

/* work secion styling*/

#work{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 8rem);
  grid-template-areas:
  "h3Work"
  "Project1"
  "Project2"
  "Project3"
  "Project4"
  "Project5";
}

#h3Work{
  grid-area: span;
  text-align: center;
  padding: 1rem;
  margin: 0px auto;
}

#Project1{
  grid-area: Project1;
  background-image: url("../images/02-portfolio-1.jpg");
  
}

#Project2{
  grid-area: Project2;
  background-image: url("../images/02-portfolio-2.jpg");

}

#Project3{
  grid-area: Project3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#Project4{
  grid-area: Project4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#Project5{
  grid-area: Project5;
  background-image: url("../images/02-run-buddy.jpg");
}

.GridArea{
  position: relative;
}
.workOutline{
  background-color: var(--beige);
  display: inline-block;
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.workOutline > a{
  text-decoration: none;
  color: var(--black);
  font-size: 1.2em;
  background-color: var(--beige);
  margin: 0;
}

.workOutline >p{
  margin: 0;
  font-size: 0.85em;
}


/* contact section styling*/

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.links{
  text-decoration: none;
  color: var(--black);
  font-family: monospace;
  font-size: 1rem;
  padding: 0.5rem;
}

 

/*footer styling */
footer{
  background-color: var(--peach);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling for bigger screens - tablets*/

@media screen and (min-width: 600px) {
  header{
    flex-direction: row;
    justify-content: space-around;
  }

  #about {
    flex-direction: row;
    align-items: center;
  }
  img{
    height: 10em;
    width: 10em;
  }
  h3{
    border-right: 3px solid black;
    margin-right: 0.5em;
    margin-left: 0px;
  }

  #work{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 15rem 10rem 10rem;
    grid-template-areas:
    "h3Work Project1 Project1"
    "h3Work Project2 Project3"
    "h3Work Project4 Project5";
  }

  .contact{
    flex-direction: row;
    justify-content: space-between;
  }
  .links{
    padding: 1em 2em 1em 1em
    
  }

}

